{% include "_header.html" %}

<div class="description">
  <h1>Skagenslapper:</h1>
  <p>
    Skagenslapper er lækre morgenmadsstykker med en bund af solsikkekerner og et
    gavmildt drys på toppen af blå birkes og nogle gange også sesamfrø. Jeg er
    vild med kerner og frø i bagværk og drysser derfor med begge dele. Min
    opskrift på skagenslapper er ikke en helt traditionel rundstykke-opskrift,
    men langtidshævet og med tid til den gode smag, som jeg foretrækker dem.
    Lidt ala koldhævede boller, som smager ualmindeligt lækkert og perfekt til
    morgenbordet og den hyggelige weekend brunch.
  </p>
  <div>
    <h2>Ingredienser</h2>
    <p>5 dl stuetempereret vand</p>
    <p>10g gær</p>
    <p>530g hvedemel</p>
    <p>100g fuldkornshvedemel</p>
    <p>10g flagesalt</p>
  </div>

  <div>
    <h2>Derudover</h2>
    <p>2 dl solsikkekerner</p>
    <p>2 spsk blå birkes</p>
    <p>2 spsk sesamfrø</p>
    <p>1 æg, som er sammenpisket til pensling</p>
  </div>
</div>

{% include "_footer.html" %}
