{% include "_header.html" %}

<div class="description">
  <h1>Naanbrød:</h1>
  <p>
    Naan hører til i det indiske køkken og jeg er fuldstændig vild med dette
    hjemmebagte bløde naanbrød, som har den skønneste smag af smeltet smør,
    hvidløg og nigellafrø. Jeg er helt vild med det indiske naan og de
    forskellige smage, som vi kommer på. Brødet er perfekt til at bryde i
    stykker og dyppe i krydrede saucer fra de gode indiske retter – eller som i
    indien, bruge brødet som en ske til at scoope de lækre saucer op med.
  </p>
  <div>
    <h2>Ingredienser</h2>
    <p>ting ikke færdig</p>
  </div>

  <div>
    <h2>Pengsling og smag</h2>
    <p>ting ikke færdig</p>
  </div>
</div>

{% include "_footer.html" %}
