{% include "_header.html" %}

<div class="description">
  <h1>Fødselsdagsboller:</h1>
  <p>
    Bløde og lækre fødselsdagsboller, som smager helt fantastisk smurt med smør,
    eller serveret med smør, syltetøj og ost. Dette er min opskrift på helt
    klassiske fødselsdagsboller med kardemomme, som er dejlige at servere til
    fødselsdagskaffen pyntet med fine flag og måske ledsaget af en dejlig
    lagkage eller andet sødt bagværk. Det er de bedste skønne fødselsdagsboller
    af den slags som hurtigt bliver en tilbagevendende tradition år efter år.
  </p>
  <div>
    <h2>Ingredienser</h2>
    <p>20g gær</p>
    <p>300g sødmælk, stuetempereret</p>
    <p>25g sukker</p>
    <p>8g stødt kardemomme</p>
    <p>1 æg</p>
    <p>75g smør, smeltet</p>
    <p>50g fuldkornshvedemel</p>
    <p>470g hvedemel</p>
    <p>1 æg til pensling</p>
  </div>
</div>

<div class="commentSection">
  <div>
    <h2>Skriv en kommentar</h2>
    <form action="">
      <input type="text" placeholder="Titel" />
      <input type="text" placeholder="Kommentar" />
      <button type="submit">Send</button>
    </form>
  </div>
  <div>
    <h2>Kommentarer</h2>
    <div id="commentContainer"></div>
  </div>
</div>

{% include "_footer.html" %}
